{{#each notes}}
<div class="card card-body mb-3">
    <h4>{{title}}</h4>
    <p>{{date}}</p>
    <p>{{details}}</p>
    <a class="btn btn-block"href="notes/edit/{{id}}">Edit</a>
</div>
{{else}}
<p>No notes created</p>
{{/each}}